@model Cumilative3_CRUD.Models.Teacher
<h2>Teacher @Model.TeacherId</h2>
<p><strong>Name:</strong> @Model.FullName</p>
<p><strong>Emp #:</strong> @Model.EmployeeNumber</p>
<p><strong>Hire Date:</strong> @Model.HireDate.ToShortDateString()</p>
<p><strong>Salary:</strong> @Model.Salary</p>

